<div class="container">
    <div class="row">

        <h2 id="notifyFlash" class="text-danger"></h2>

        <div class="col-sm-9 text-center">
            <h2 class="text-center">Conference</h2>
        </div>

        <div class="col-sm-9 text-center">
            <form class="form-horizontal" role="form" style="margin-top: 10px">
                <!--<div id="connForm" class="form-group">
                    <label class="col-sm-2 control-label">WCS URL</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="url">
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Login</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="login">
                    </div>
                    <div class="col-sm-2 text-right">
                        <button id="joinBtn" type="button" class="btn btn-default">Join</button>
                    </div>
                    <div class="col-sm-4 text-left">
                        <div id="status"></div>
                    </div>
                    <div class="col-sm-4 text-left text-danger">
                        <div id="failedInfo"></div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4 text-center">

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant1Display" class="display"></div>
                </div>
                <div id="participant1Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant1Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant2Display" class="display"></div>
                </div>
                <div id="participant2Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant2Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant3Display" class="display"></div>
                </div>
                <div id="participant3Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant3Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant4Display" class="display"></div>
                </div>
                <div id="participant4Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant4Status"></div>
                </div>
            </div>


            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant5Display" class="display"></div>
                </div>
                <div id="participant5Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant5Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant6Display" class="display"></div>
                </div>
                <div id="participant6Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant6Status"></div>
                </div>
            </div>


            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant7Display" class="display"></div>
                </div>
                <div id="participant7Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant7Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant8Display" class="display"></div>
                </div>
                <div id="participant8Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant8Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant9Display" class="display"></div>
                </div>
                <div id="participant9Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant9Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant10Display" class="display"></div>
                </div>
                <div id="participant10Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant10Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant11Display" class="display"></div>
                </div>
                <div id="participant11Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant11Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant12Display" class="display"></div>
                </div>
                <div id="participant12Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant12Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant13Display" class="display"></div>
                </div>
                <div id="participant13Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant13Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant14Display" class="display"></div>
                </div>
                <div id="participant14Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant14Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant15Display" class="display"></div>
                </div>
                <div id="participant15Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant15Status"></div>
                </div>
            </div>

            
            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant16Display" class="display"></div>
                </div>
                <div id="participant16Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant16Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant17Display" class="display"></div>
                </div>
                <div id="participant17Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant17Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant18Display" class="display"></div>
                </div>
                <div id="participant18Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant18Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant19Display" class="display"></div>
                </div>
                <div id="participant19Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant19Status"></div>
                </div>
            </div>

            <div class="col-sm-6" hidden = "true">
                <div class="fp-remoteVideo">
                    <div id="participant20Display" class="display"></div>
                </div>
                <div id="participant20Name" class="text-center text-muted">NONE</div>
                <div class="text-center" style="margin-top: 20px">
                    <div id="participant20Status"></div>
                </div>
            </div>

        </div>
        <div class="col-sm-9 text-center">
            <div id="localDisplay" class="fp-localVideo"></div>
            <div class="text-center" style="margin-top: 20px">
                <div id="localStatus"></div>
            </div>
            <div class="input-group col-sm-10" style="margin: 10px auto 0 auto;">
                <button id="localAudioToggle" type="button" class="btn btn-default">Mute A</button>
                <button id="localVideoToggle" type="button" class="btn btn-default">Mute V</button>
            </div>
            <div class="input-group col-sm-10" style="margin: 10px auto 0 auto;">
                <button id="localStopBtn" type="button" class="btn btn-default">Publish</button>
            </div>

        </div>
        <div class="col-sm-9" style="margin-top: 20px">
            <div class="form-group">
                <div id="chat" style="overflow-y: scroll; height: 100px;" class="text-left form-control"></div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <textarea id="message" class="form-control" rows="1" style="resize: none;"></textarea>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="pull-right">
                <button id="sendMessageBtn" type="button" class="btn btn-default">Send</button>
            </div>
        </div>

        <div class="col-sm-9" style="margin-top: 20px">
            <span class="text-muted text-left">Invite</span>
            <div id="inviteAddress" class="text-muted text-center" style="border: 1px solid">Not connected</div>
        </div>
    </div>
</div>
